
body {
    background-color: #E8E1D4;
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    gap:10px;
}

.main-container{
    background-color: #7A9F8A;
    border-radius: 10px;
    padding: 0px 20px;
}
.container{
    align-items: center;
}
.container h1{
    padding-right: 20px;
    padding-left: 20px;
}
.container h3{
    text-align: center;
    font-size: 25px;
}
.mindmap{
    display: flex;
    flex-direction: row;
    width: 15vw;
    gap:10px;
}
ul{
    font-size: 18px;
}
.container p{
    font-size: 18px;
}
.text{
    text-align: left;
    padding-bottom: 20px;
}
button{
    background-color:#D4A73E;
    width: 130px;
    height: 50px;
    border-radius: 8px;
    font-size: 17px;
    color: #2C2C2C;
}
.container img{
    width:25vw;
    text-align: center;
}
.proto-1{
    /* display: flex;
    flex-direction: row; */
    gap: 20px;
    text-align: center;
}
.proto-1 img{
    width:30vw;
    height: auto;
    border-radius: 10px;
}
.sketches{
    display: flex;
    flex-direction: row;
    gap:20px;
    margin: 0 10vw;
}
.sketches img{
    width:700px;
}
.feedback1{
    display: flex;
    flex-direction: row;
}

.wireframes {
    display: flex;
    gap: 40px;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;  
    padding: 20px 0;
}

.frame {
    min-width: 260px;
    border: 1px dashed #162F26;
    border-radius: 10px;
    padding: 10px;
    text-wrap: wrap;
}

.frame img{
    width: 100%;
    max-width: 260px;
    height: auto;
    display: block;
}
.prototype2{
    text-align: center;
}
.prototype2 img{
    width:30vw;
    height:65vh;
    margin-bottom: 20px;
    border-radius: 10px;
}
