.layout {
  display: flex;
  flex-direction: row;
}
.sidebar {
    width:140px;
    background-color: #EFE6DA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 90px;
    height: 100vh; 
    position: fixed;
    left: 0;
    top: 0;  
}
.sidebar img{
    width: 40px;
    height: 40px;
    border: 3 solid #EFE6DA;
}
.sidebar button{
    background-color: #EFE6DA;
}
.main-content{
    flex: 1;
    padding-left: 180px;           
    background-color: white;
    font-family: 'Playfair Display', serif;
    overflow-y:scroll; 
}

.search-n-pf{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 60px;
}
.search{
    text-align: left;
    padding-bottom: 15px;
}
.search input{
    height: 47px;
    width: 1013px;
}
.profile-pic img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.top-blocks{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.currently-reading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;            /* spacing inside the whole block E4EAE2 */
  background-color: #E4EAE2;
  border: 3px solid #B8C7B4;
  border-radius: 10px;
  width: 500px;
}

.currently-reading img {
  border-radius: 10px;          
  display: block;                
  object-fit: cover;          
  width:120px;
  height:170px;        
}
.book-info h2{
    padding-top: 10px;
}
.book-info button{
    width: 150px;
    height: 50px;
    font-size: 16px;
    background-color: #D8B97A;
    border: 1px solid #C59E6F;
    border-radius: 8px;
}
.allcr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.reading-challenge {
    background-color: #E4EAE2;
    border-radius: 10px;
    border: 3px solid #B8C7B4; /* this is the full border declaration */
    width: 500px;
    padding: 26px 41px;
}

.reading-challenge h2{
    text-align: center;
}
.progress{
    text-align: center;
}
.schedule{
    text-align: center;
}
.divider{
    text-align:center;
}

.book-list{
    display:flex;
    flex-direction: row;
    gap: 92px;
    overflow-x: scroll;
    overflow-y: visible;
}
.book{
    background-color: #EEECE7;
    border-radius: 10px;
    border: 1px solid #7BAE7F;
    width:444px;
    height: 176px;
    display:flex;
    flex-direction: row;
    padding: 18px 26px;
    align-items: center;
}
.book img{
    width:94px;
    height: 140px;
    border-radius: 10px;
    text-align: left;
    object-fit: cover;
}
.button-wtr{
    display:flex;
    flex-direction: row;
}
.wtrbutton{
    width: 150px;
    height: 56px;
    background-color:#D8B97A;
    border: 1px solid #C59E6F;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 100;
}
.drop-down{
    height: 56px;
    width: 56px;
    background-color:#D8B97A;
    border: 1px solid #C59E6F;
    border-radius: 5px;
    text-align: center;
}
.drop-down img{
    height: 25px;
    width: 25px;
    padding-top: 5px;
}
.content{
    align-items: center;
    padding-left: 27px;
    padding-bottom: 16px;
}
 .content h3{
    font-size: 17px;
    gap: 11px;
}
