
body{
    background-color: #E8E1D4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}
.container{
    background-color: #7A9F8A;
    border-radius: 10px;
    text-align: center;
    padding: 0px 20px;
}
.container h1{
    padding-right: 20px;
    padding-left: 20px;
}
.text{
    text-align: left;
    padding-bottom: 20px;
}
button{
    background-color:#D4A73E;
    width: 130px;
    height: 50px;
    border-radius: 8px;
    font-size: 17px;
    color: #2C2C2C;
}
